<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- <add key ="Mode" value ="Daily"/>-->
    <add key = "Mode" value ="Interval"/>
    <add key = "ScheduledTime" value = "00:05"/>
    <add key = "IntervalMinutes" value = "15"/>
    <add key = "MuestraLog" value = "S"/>
    <add key = "PathLog" value = "C:\"/>
  </appSettings>
  <system.diagnostics>
      <sources>
          <!-- En esta sección se define la configuración del registro para My.Application.Log -->
          <source name="DefaultSource" switchName="DefaultSwitch">
              <listeners>
                  <add name="FileLog"/>
                  <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                  <!--<add name="EventLog"/>-->
              </listeners>
          </source>
      </sources>
      <switches>
          <add name="DefaultSwitch" value="Information" />
      </switches>
      <sharedListeners>
          <add name="FileLog"
                type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                initializeData="FileLogWriter"/>
          <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
      </sharedListeners>
  </system.diagnostics>
</configuration>